<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_711PWAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_711PWAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <_711PWAssistant.Properties.Settings>
            <setting name="RootFilePath" serializeAs="String">
                <value>C:\\Shared Folder\\7 11 Paperwork Assistant\\</value>
            </setting>
            <setting name="FrontOnes" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BackOnes" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FrontFives" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="BackFives" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="FrontTens" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="BackTens" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="FrontTwenties" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BackTwenties" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PdfFilePath" serializeAs="String">
                <value>Paperwork Sets\\PDFs\\</value>
            </setting>
            <setting name="BinFilePath" serializeAs="String">
                <value>Paperwork Sets\\Bin Files\\</value>
            </setting>
            <setting name="ExceptionFilePath" serializeAs="String">
                <value>Error Logs\\Exception Messages\\</value>
            </setting>
            <setting name="TraceFilePath" serializeAs="String">
                <value>Error Logs\\Stack Traces\\</value>
            </setting>
            <setting name="ImgFilePath" serializeAs="String">
                <value>AppData\\</value>
            </setting>
            <setting name="BackDrawer" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FrontDrawer" serializeAs="String">
                <value>100</value>
            </setting>
        </_711PWAssistant.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <_711PWAssistant.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>1.0</value>
            </setting>
        </_711PWAssistant.Properties.Settings>
    </applicationSettings>
</configuration>
